.header {
    background: #f0f6ff ;
    padding: 40px;
    text-align: center;
}
.badge {
    background: white;
    color: #1c5bba;
    padding: 5px 15px;
    display: inline-block;
    width: 150px;
}
